.banner {
    overflow-x: hidden;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.swiper-container {
    width: 100%;
    position: relative;
}

.slide-content-wrap {
    width: 100%;
}

.slider-content-picture {
    overflow: hidden;
    margin: auto;
    display: flex;
    margin: 30px;
    height: 100%;
    @media (max-width: 767px) {
        height: 150px;
    }
    
    & img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        margin: auto;
        align-items: center;
        border-radius: 20px;
    }
}

.swiper-pagination-bullet {
    background-color: rgb(75, 15, 121);
    width: 7px;
    height: 7px;

    @media (max-width: 767px) {
        display: none;
    }
}

.swiper-pagination-bullet-active {
    transform: scale(1.5);
}

.swiper-button-next,
.swiper-button-prev {

    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;

    &::after {
        font-size: 1.875rem;
        color: rgb(75, 15, 121);
        font-weight: 600;
    }
    @media (max-width: 420px) {
        width: 30px;
        height: 30px;
    }
}