.footer {
    background-color: rgb(75, 15, 121);
    padding: 15px 0;
}

.footer-text {
    width: 350px;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(128, 128, 128, 1);
}
