.header {
    padding: 30px 0 0;
    position: relative;
    background: linear-gradient(160deg, rgb(216, 17, 183), rgb(75, 15, 121));
    border-radius: 0 0 20px 20px;
    z-index: 999;

}

.header-wrape {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}

.logo {
    width: 280px;
    overflow: visible;
    padding: 10px;
    @media (max-width: 1200px) {
       width: 200px;
    }

    @media (max-width: 550px) {
   display: none;
     }

    & img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.shopping-cart_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 7px;
    cursor: pointer;
    transition: 0.8s;

    &:hover .fa-cart-shopping_img {
        color: rgba(255, 199, 246, 0.464);
    }

    .fa-cart-shopping_img {
        font-size: 34px;
        margin-bottom: 10px;
        transition: 0.8s;
        @media (max-width: 800px) {
          font-size: 28px;
         }
    }
}

.shopping-cart_section:hover .shopping-cart_text {
    color: #fff;
}

.shopping-cart_text {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 18px;
    transition: 0.8s;
    @media (max-width: 800px) {
        font-size: 16px;
     }
}