* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@import "../scss/_cdn.scss";
@import "../scss/header.scss";
@import "../scss/banner.scss";
@import "../scss/card.scss";
@import "../scss/shopping-cart.scss";
@import "./search-dialog.scss";

html {
    color: black;
    background-color:  rgba(228, 219, 238, 0.926);
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: auto;
    position: relative;
}